fastapi
uvicorn[standard]
python-dotenv
celery
redis
langgraph
langchain
langchain-core
langchain-openai
qdrant-client
langchain-qdrant
openai
presidio-analyzer
presidio-anonymizer
pypdf
twilio
psycopg[binary]
requests
pydantic
reportlab==4.0.9